{% extends 'base.html' %}

{% block js %}
{# TODO: add js to handle clicks on blocks and fill formset fields #}
{% endblock js %}

{% block css %}
<style>
    .category {
        background-color: #bbb;
        margin-top: 10px;
    }
    .category-name {
        color: #fff;
    }
</style>
{% endblock css %}

{% block content %}
<form method="POST" action=".">
{% for category in categories %}
{# TODO: use caching #}
<div class="category">
    <input type="hidden" value="" name="{# TODO: specify names according to https://docs.djangoproject.com/en/dev/topics/forms/formsets/ #}">
    <div class="category-name">{{ category.name }}</div>
    {% for template in category.templates.all %}
        <div class="template" data-template-id="{{ template.id }}">
            {{ template.name }}
        </div>
    {% endfor %}
</div>
{% endfor %}
<button type="submit">Continue</button>
</form>
{% endblock content %}
